<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanovich.alex.androidmvpsimpleclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SimpleClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.users.UsersActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.shops.ShopsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".data.SyncService" />

        <activity
            android:name=".ui.base.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.shopsmap.ShopsMapActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.shops.ShopDetailActivity"
            android:label="@string/title_activity_shop_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.shops.AddShopActivity"
            android:label="@string/title_activity_add_shop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.users.AddUserActivity"
            android:label="@string/title_activity_add_user"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".data.SyncService$SyncOnConnectionAvailable"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.users.UserDetailActivity"
            android:label="@string/title_activity_user_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
